body,
html {
	height: 100%;
	margin: 0;
}

nav {
	align-items: center;
	background-color: rgb(43, 42, 76);
}

.navbar .logo {
	font-size: 1.5rem;
    padding-left: 30px;
}

li {
    display: table-cell;
    position: relative;
    padding: 15px 0;
}
nav-link link-light {
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.15em;
    display: inline-block;
    padding: 15px 20px;
    position: relative;
}
nav-link link-light:hover::after {
    width: 100%;
    left: 0;
    background-color: #00fffc;
}

/* home */
.hero-image {
	background: url("Assest/LPD.png");
	opacity: 50%;
	height: 700px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
}

.hero-text {
	text-align: center;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: rgba(187, 37, 37, 37);
	font-weight: 500;
}

/* About */
#about {
	margin-top: 4rem;
	height: 70vh;
	padding: 2% 10% 10%;
}

.about-desc h1 {
	margin-top: 2rem;
	color: #2b2a4c;
	font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
	font-weight: bolder;
	font-size: 5vh;
	text-align: center;
	margin-bottom: 2rem;
}

.row-about {
	box-sizing: border-box;
	background-color: #bb2525;
	border-radius: 2%;
    box-shadow: 5px 5px;
}

.column p {
	text-align: justify;
	color: #ffffff;
	justify-content: center;
	margin-top: 1rem;
	font-size: 20px;
}

/* Service */
#service {
	height: 70vh;
	padding: 2% 10% 10%;
}

.container {
	margin-top: 2rem;
	height: 55vh;
	border: solid rgb(43, 42, 76);
	border-radius: 2%;
	justify-content: center;
    box-shadow: 5px 5px;
}

.service-desc h1 {
	margin-bottom: 3rem;
	color: #2b2a4c;
	font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
	font-weight: bolder;
	font-size: 5vh;
	text-align: center;
}

.row {
	margin-top: 30px;
	padding: 20px;
	justify-content: center;
}

.row .column h2 {
	text-align: center;
	color: #ffffff;
	font-weight: bolder;
	background-color: #2b2a4c;
}

.column {
	flex: 50%;
	padding: 30px;
	height: 200px;
	column-gap: 40px;
	column-rule-style: solid;
	column-rule-width: 1px;
	column-rule-color: lightblue;
}

/* FAQ */
#faq {
	margin-top: 30vh;
	height: 100vh;
	padding: 2% 10% 10%;
}

.faq-desc h1 {
	color: #2b2a4c;
	font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
	font-weight: bolder;
	font-size: 5vh;
	text-align: center;
}

.column-faq {
	margin-top: 3rem;
}

.faq .column p {
	font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
	font-weight: bold;
	color: #ffffff;
	font-size: 20px;
	text-align: left;
	height: 40px;
}

/* Contact */
.contact {
	height: 130vh;
	background-color: #ffffff;
	padding: 2% 10% 10%;
}

.contact-desc p:nth-child(1) {
	color: #2b2a4c;
	font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
	font-weight: bolder;
	font-size: 5vh;
	text-align: center;
}

.contact-desc p:nth-child(2) {
	color: #2b2a4c;
	font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
	text-align: center;
}

.container2 {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

label {
    display: block;
    margin-top: 10px;
}

input[type="text"], textarea {
    width: 100%;
    padding: 6px 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

button[type="submit"] {
    background-color: #2b2a4c;
    color: white;
    padding: 10px 20px;
    margin-top: 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}

button[type="submit"]:hover {
    background-color: red;
}

.contact p:nth-child(7) {
	color: #c03d3e;
	font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
	font-weight: bold;
}

.contact p:nth-child(8),
.contact p:nth-child(9) {
	color: #2b2a4c;
	font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.contact p:nth-child(10) {
	color: #c03d3e;
	font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
	font-weight: bold;
	text-align: center;
}

.social-icons {
	margin: 30px 0px;
	display: flex;
	text-align: center;
	margin-bottom: 50px;
}

.social-icons a {
	width: 45px;
	height: 45px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-left: 100px;
	margin-right: 100px;
	background-color: #fff;
	border-radius: 50%;
}

.social-icons i {
	font-size: 35px;
	color: none;
}

.social-icons a:hover {
	background-color: #bb2525;
	box-shadow: 2px 2px 12px rgba(0, 0, 0, 2);
}

/* Footer */
footer p {
	color: #b4b9c9;
}