nav {
	align-items: center;
	background-color: rgb(43, 42, 76);
}

.navbar .logo {
	font-size: 1.5rem;
    padding-left: 30px;
}

li {
    display: table-cell;
    position: relative;
    padding: 15px 0;
}
nav-link link-light {
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.15em;
    display: inline-block;
    padding: 15px 20px;
    position: relative;
}
nav-link link-light:hover::after {
    width: 100%;
    left: 0;
    background-color: #00fffc;
}
