nav {
	align-items: center;
	background-color: rgb(43, 42, 76);
}

.navbar .logo {
	font-size: 1.5rem;
    padding-left: 30px;
}

li {
    display: table-cell;
    position: relative;
    padding: 15px 0;
}
nav-link link-light {
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.15em;
    display: inline-block;
    padding: 15px 20px;
    position: relative;
}
nav-link link-light:hover::after {
    width: 100%;
    left: 0;
    background-color: #00fffc;
}

.container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background: #BB2525; 
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.25);
}

label {
    display: block;
    margin-top: 10px;
}

input[type="text"], textarea {
    width: 100%;
    padding: 6px 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

button[type="submit"] {
    background-color: #2b2a4c;
    color: white;
    padding: 10px 20px;
    margin-top: 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}

button[type="submit"]:hover {
    background-color: red;
}

